:root {
    --cor-primaria: #1b8e99;
    --cor-secundaria: #660000;
    --cor-terciaria-branco: #ffffff;
    --cor-quaternaria: #444444;
    --cor-hover-primario: #92c9ce;
    --cor-primaria-tranparente: #1b8e9931;
    --cor-secundaria-transparente: #66000031;
}